@model SewingMaterialsStorage.Models.Consumption

<div class="container mt-4">
    <h2>Детали расхода</h2>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">Дата расхода</dt>
        <dd class="col-sm-9">@Model.ConsumptionDate.ToShortDateString()</dd>

        <dt class="col-sm-3">Материал</dt>
        <dd class="col-sm-9">@Model.Material.MaterialName</dd>

        <dt class="col-sm-3">Тип материала</dt>
        <dd class="col-sm-9">@Model.Material.MaterialType.TypeName</dd>

        <dt class="col-sm-3">Количество</dt>
        <dd class="col-sm-9">@Model.Quantity</dd>

        <dt class="col-sm-3">Цена за единицу</dt>
        <dd class="col-sm-9">@Model.Material.PricePerUnit.ToString("C")</dd>

        <dt class="col-sm-3">Сумма</dt>
        <dd class="col-sm-9">@((Model.Quantity * Model.Material.PricePerUnit).ToString("C"))</dd>

        <dt class="col-sm-3">Номер заказа</dt>
        <dd class="col-sm-9">@Model.OrderId</dd>
    </dl>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model.ConsumptionId" class="btn btn-primary">Редактировать</a>
        <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
    </div>
</div>